<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://demoscsharp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/910be5a0-bfc2-4a4b-a07b-b5b8ade39da0/resourceGroups/demoscsharp/providers/Microsoft.Web/sites/DemosCSharp</ResourceId>
    <UserName>$DemosCSharp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demoscsharp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>